{% extends 'admin/index.html.twig' %}

{% block title %}Add a category
{% endblock %}
{% block page_title %}
	<h1 class="text-center align-center">Categories management</h1>
{% endblock %}

{% block user_widget %}{% endblock %}

{% block dashboard_content %}
	<div class="widget personal-info">
		<h3 class="widget-header user">Add a category</h3>

		{{ form_start(form) }}
		<!-- Name -->
		<div class="form-group">
			<label for="name">Name</label>
			{{ form_widget(form.name, { 'attr': {'class' : 'form-control'}}) }}
		</div>
		<!-- First Name -->
		<div class="form-group">
			<label for="parent">Parent</label>
			{{ form_widget(form.parent, { 'attr': {'class' : 'form-control'}}) }}
		</div>

		<!-- Submit button -->
		{{ form_widget(form.Valider, { 'attr': {'class' : 'btn btn-transparent'}}) }}
		{{ form_end(form) }}
	</div>
	<!-- Recently Favorited -->
	<div class="widget dashboard-container my-adslist">
		<h3 class="widget-header">Add a category</h3>

	</div>
{% endblock %}
